.tit1{
    width: 100%;
    height: 100px;
    line-height: 100px;
    padding-left: 30px;
    font-size: 40px;
    background: #eeee;
}
.bao{
    display:flex;
    width: 95%;
    height: 90px;
    margin-left: 2%;
    line-height: 90px;
    border-bottom: 2px solid #ccc;
    .a1{
        flex:3;
        padding-left: 30px;
        color: rgba(68, 66, 66, 0.667);
    }
    .a2{
        flex: 7; 
        input{
            display: block;
            height: 90px;
            line-height: 90px;
        } 
    }
    .textarea{
       display:block;
        width: 270px;
        height: 400px;
        border: 1px solid #ccc;
        padding-left: 10px;
    }
    .btn /deep/{
        background:rgba(68, 66, 66, 0.667);
    }
}
