.wrap view {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100rpx;
  // padding: 10rpx;
}

text:first-child {
  width: 300rpx;
}

text:last-child {
  flex: 1;
  height: 100%;
}

.page-section view{
  margin-right: 35rpx;
}