.wrap{
    height: 100%;
    background: #ccc;
}
view{
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
}
.box{
    width: 100%;
     height: 180rpx;
     background: #fff;
     margin-top: 20rpx;
}

.box>view:last-child{
    width: 100%;
    // display: flex;
    flex-wrap: 1;
    background: #fff;
    // margin-top: 20rpx;
}
  text{
      width: 100%;
      display: flex;
    height: 50rpx;
    line-height: 90rpx;
  }
.active{
   color: red;
}